<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') -%>
<body>
    <%- include('navbar.ejs') -%>
    <!-- formulario con bootstrap-->
    <style>
      input{
        background-color: #cecece;
      }
    </style>
    
    <h1 class="p-4 text-white fs-2 fs-md-6" style="font-size: 50px; font-weight: 700; background-color: #333333;">Actualizar Empleado</h1>
    <form action="/empleados/actualizar/<%=empleado.idEmpleado%>" class="p-2 m-2 col-xl-6 col-sm-12" method="POST" style="border: 2px solid #cecece; border-radius: 10px;">
        <div class="mb-3">
          <label for="nombre_empleado" class="form-label">Nombre:</label>
          <input type="text" class="form-control" id="nombre_empleado" placeholder="Ingrese el nombre" name="nombre_empleado" value="<%= empleado.nombre_empleado %>">
        </div>
        <div class="mb-3">
          <label for="nacionalidad" class="form-label">nacionalidad:</label>
          <input type="text" class="form-control" id="nacionalidad" placeholder="Ingrese la nacionalidad" name="nacionalidad" value="<%= empleado.nacionalidad %>">
        </div>
        <div class="mb-3">
          <label for="idCargo" class="form-label">Cargo:</label>
          <select class="form-select" id="idCargo" name="idCargo" aria-label="Default select example" value="<%= empleado.idCargo %>">
            <% cargos.forEach(cargo => { %>
                <option style="background-color: #333333; color: aliceblue;" value="<%= cargo.idCargo %>" <%= cargo.idCargo === empleado.idCargo ? 'selected' : '' %>><%= cargo.idCargo %></option>
            <% }); %>
          </select>
        </div>
        <div class="col-sm-12 d-flex gap-1 col-xl-4">
          <button type="submit" class="btn btn-primary col-6">Actualizar</button>
          <a href="/empleados" class="btn btn-danger col-6">Cancelar</a>
        </div>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>