<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') -%>
  <body>
    <%- include('navbar.ejs') -%>
    <style>
      input {
        background-color: #cecece;
      }
    </style>

    <h1 class="p-4 text-white fs-2 fs-md-6" style="font-size: 50px; font-weight: 700; background-color: #333333;">Actualizar cargo</h1>
    <form
        action="/cargos/actualizar/<%=id%>"
        class="p-2 m-2 col-xl-6 col-sm-12"
        method="POST"
        style="border: 2px solid #cecece; border-radius: 10px"
    >
      <div class="mb-3">
        <label for="nombre_empleado" class="form-label">Nombre:</label>
        <input
          type="text"
          class="form-control"
          id="nombre_empleado"
          placeholder="Ingrese el nombre"
          name="nombre_cargo"
          value="<%= cargo.nombre_cargo %>"
        />
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripcion:</label>
        <input
          type="text"
          class="form-control"
          id="descripcion"
          placeholder="Ingrese la nacionalidad"
          name="descripcion"
          value="<%= cargo.descripcion %>"
        />
      </div>
      <div class="col-sm-12 d-flex gap-1 col-xl-4">
        <button type="submit" class="btn btn-primary col-6">Registrar</button>
        <a href="/cargos" class="btn btn-danger col-6">Cancelar</a>
      </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
